.parent-sidebar{
    width : 100dvw;
    height: 100dvh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: transparent;
}

.popup-background{
    width: 100%;
    max-width: 100dvw;
    height: 100%;
    max-height: 100dvh;
    position: absolute;
    z-index: 10;
    top : 0;
    left: 0;
    background-color:  #000000b0;
    /* color: black; */
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
}

.signin-btn{
    padding: 10px 40px;
    background-color: #232F3E;
    font-size: 19px;
    line-height: 25px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
    font-weight: 700;
    font-family: "Amazon Ember";
}

.content-container {
    display: flex;
    flex-direction: column;
    padding: 8px 32px;
    border-bottom: 1px solid gray;
}

.container-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #111;
    padding-block: 8px;
}

.content-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content a {
    font-size: 14px;
    line-height: 16px;
    color: #111;
    font-weight: 500;
    cursor: pointer;
    padding-block: 14px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    height: 30px;
    width: 30px;
    aspect-ratio: 1;
    color: white;
    position: absolute;
    left: 368px;
    top: 10px;
    z-index: 10;
    font-size: 28px;
    background-color: #00000020;
    cursor: pointer;
}

